export("boot.kmeans", "compare.clusters", "compare.tables", "bootk.hardsoftvis", "fari") 
import(MASS, stats)
importFrom("lmtest", "bgtest")
importFrom("abind", "abind")
importFrom("fclust", "FKM")
importFrom("grDevices", "dev.off", "jpeg")
importFrom("graphics", "legend", "pairs", "par")
importFrom("utils", "tail")
importFrom("Thresher", "matchLabels")
importFrom("mvtnorm", "dmvnorm")